config.php
.env
.env.local
.log/*
phpMyAdmin/
phpMyAdmin/*
.ssh/*
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
app/upload/avatar/*jpg
app/upload/avatar/*png
app/upload/avatar/*jpeg

app/upload/cancha/*jpg
app/upload/cancha/*png
app/upload/avatar/*jpeg

# Dependencias third-party instaladas manualmente
app/lib/third_party/tcpdf/
vendor/
